@font-face {
	font-family: 'Sansation';
	font-size: normal;
	font-weight: normal;
	src: local('Sansation'), url('Sansation_Regular.woff') format('woff');
}
*{
	margin: 0%;
}
header{
	overflow: auto;
	background-color: #1C1F20;
	height: 90px;
	width: 100%;
	position: fixed;
	color: white;
	z-index: 4;
}
#hyperloop{
	padding-left: 30px;
	float: left;
	width: 22%;
	padding-top: 1%;
	font-family: Sansation;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
}
#home{
	float: left;
	width: 22%;
	padding-top: 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
}
#home p{
	text-decoration: underline;
}
#tickets{
	float: left;
	width: 22%;
	padding-top: 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
}
#tickets p:hover{
	text-decoration: underline;
}
#account{
	float: left;
	width: 22%;
	padding-top: 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
}
#account a:hover{
	text-decoration: underline;
}
#account a{
	text-decoration: none;
	color: white;
}
#loupe{
	float: right;
	width: 5%;
	padding-top: 2%;
}
#europe{
	background: url(img/europe.png) no-repeat;
	background-size: 100%;
	height: 770px;
}
#europe p{
	font-family: Sansation;
	padding-top: 5%;
	font-size: 100px;
	color: white;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em;
}
#europe h1{
	font-family: Sansation;
	font-size: 50px;
	padding-top: 15%;
	text-align: center;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}
#presentation{
	background-color: black;
	height: 1000px;
}
#presentation p{
	color: white;
	text-align: center;
	padding-top: 30px;
	font-family: Roboto;
	font-size: 75px;
}
#presentation h1{
	font-family: Roboto;
	color: white;
}
#textimg{
	overflow: auto;
}
#description h1{
	padding-left: 90px;
	position: relative;
	z-index: 3;
	padding-top: 120px;
}
#textimg img{
	position: absolute;
	top: 1000px;
	right: 30px;
	z-index: 1;
	padding-top: 120px;
}
#video{
	background-color: #232728;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#video p{
	text-align: center;
	font-size: 45px;
	font-family: Roboto;
	color: white;
}
#video iframe{
	padding-top: 35px;
}
#button p{
	font-family: Fira Sans;
	text-align: center;
	color: white;
	font-size: 150px;
	border: solid white 2px;
}
#button{
	height: 350px;
	background-color: black;
	padding-top: 200px;
}
#global{
    height: 100px;
    width: 100%;
    background-color: #232728;
    color: white;
}
footer div{
    display: inline-block;
    width: 20%;
    padding-top: 1%;
    text-align: center;
}