body {
    width: 1920px;
    height: 1080px;
    background: rgb(32, 32, 32);
}

.logo {

    margin-left: 750px;
    width: 400px;
    height: 200px;
    color: bisque;
}

.form {
    border:  5px solid;
    border-radius : 20px; 
    width: 700px;
    height: 400px;
    margin-top: 50px;
    margin-right: auto;
    margin-left:auto;
    color: bisque;
}

label {
    margin-left: 10px;
    font-size: 50px;
    color: bisque;
}
input
{
    margin-left: 10px;
    font-size:50px;
}

.validation {
    font-size: 50px;
    color: black;
}

.messageBox{
    margin-top: 40px;
    margin-left: 15em;
    border-radius: 10px;
}