@font-face {
	font-family: 'Sansation';
	font-style: normal;
	font-weight: normal;
	src: local('Sansation'), url('Sansation_Regular.woff') format('woff');
}
*{
	margin: 0%;
}
body{
    background-color: black;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  border-bottom: 5px solid grey;
  border-radius: 2px;
}

nav{
	overflow: auto;
	background-color: #1C1F20;
	height: 90px;
	width: 100%;
	position: fixed;
	color: white;
}
#hyperloop{
	float: left;
	width: 22%;
	padding-top: 1%;
	font-family: Sansation;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
}
#home{
	float: left;
	width: 22%;
	padding-top: 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
}
#tickets{
	float: left;
	width: 22%;
	padding-top: 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
}
#account{
	float: left;
	width: 22%;
	padding-top: 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
}

#loupe{
	float: right;
	width: 1px;
    margin-right: 200px;
    padding-top: 2%;
}
#para{
    padding-top: 8%;
    text-align: center;
    font-size: 25px;
    color: white;
}
#form{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}
#formail{
    border-radius: 10px;
    font-size: 25px;
}
#forpass{
    border-radius: 10px;
    font-size: 25px;
    margin-right: 30px;
    margin-top: 20px;
}

  .button{
      position:absolute;
      top: 385px;
      background:url(button.PNG);
      width: 36px;
      height: 36px;
      margin-left: 1130px;
      border-color: rgba(0, 0, 0, 255);
  }

  .checkbox-container1 {
    position: absolute;
    font-size: 25px;
    color: white;
    right: 883px;
    top :410px
}

.checkbox-container2 {
  position: absolute;
  font-size: 25px;
  color: white;
  right: 910px;
  top :380px
}

  #para2{
      text-align: center;
      margin-top: 100px;
      color:white;
      font-size: 25px;
  }
  #form2{
      color: white;
      text-align: center;
      margin-top: 50px;
      font-size: 25px;
  }
  #forusername{
      font-size: 25px;
      border-radius: 10px;
      margin-right: 40px;
  }
  #formail1{
      font-size: 25px;
      border-radius: 10px;
      margin-right: 9px;
      margin-top: 20px;
  }
  #forname{
      font-size: 25px;
      border-radius: 10px;
      margin-right: 3px;
      margin-top: 20px;
  }
  #forpass1{
    font-size: 25px;
    border-radius: 10px;
    margin-right: 35px;
    margin-top: 20px;
  }
  #forconfirmpass{
    font-size: 25px;
    border-radius: 10px;
    margin-right: 130px;
    margin-top: 20px;
  }
  #forage{
    font-size: 20px;
    width: 55px;
    height: 30px;
    border-radius: 10px;
    margin-right: 190px;
    margin-top: 20px;
    
  }
  #ageco{
      position: absolute;
      left: 780px;
      margin-top: 20px;
  }


.checkbox-container {
    position: absolute;
    font-size: 25px;
    color: white;
    right: 750px;
    top :830px
}
.button1{
  position:absolute;
  top: 895px;
  right: 750px;
  width: 350px;
  height: 50px;
  border-color: grey;
  color: black;
  border-radius: 25px;
  background-color: grey;
  font-family: roboto;
  font-size: 25px;
}
footer div{
	display: inline-block;
	width: 20%;
	padding-top: 1%;
	text-align: center;
}
#global{
  position: absolute;
	height: 100px;
	width: 100%;
	background-color: #232728;
	color: white;
  top: 1000px;
}
.button2
{
  float: right;
  height: 50px;
  width: 50px;
  margin-right: -170px;
  padding-top: 2%;
  background:url(loupe.PNG);
  
}