*{
	margin: 0%;
}	
body{
	background-color: #232728;
}
div.head h1{
	display: inline-block;
	width: 20%;
	color: #ffffff;
	font-size: 200%;
	text-align: center;
}
header{
	background-color: #000000;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}
div.presentation h1{
	text-align: center;
	font-size: 50px;
	color: white;
}
div.presentation p.titre{
	font-family: sansation;
	font-size: 500%;
	text-align: center;
	color: white;
}
h1.a{
	text-decoration: underline;
}
h1.b:hover{
	text-decoration: underline;
}
div.presentation p.slogan{
	text-align: center;
	color: white;
	font-size: 30px;
}
div.contenue{
	margin: 10%;
}