@font-face {
	font-family: 'Sansation';
	font-size: normal;
	font-weight: normal;
	src: local('Sansation'), url('Sansation_Regular.woff') format('woff');
}
*{
	margin: 0%;
}
body{
	background-color: black;
}
header{
	overflow: auto;
	background-color: #1C1F20;
	height: 90px;	
	width: 100%;
	position: fixed;
	color: white;
	z-index: 4;
}
#hyperloop{
	padding-left: 30px;
	float: left;
	width: 22%;
	padding-top: 1%;
	font-family: Sansation;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
}
#home{
	float: left;
	width: 22%;
	padding-top: 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
}
#home p{
	text-decoration: underline;
}
#tickets{
	float: left;
	width: 22%;
	padding-top: 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
}
#tickets p:hover{
	text-decoration: underline;
}
#account{
	float: left;
	width: 22%;
	padding-top: 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
}
#account a:hover{
	text-decoration: underline;
}
#account a{
	text-decoration: none;
	color: white;
}
#loupe{
	float: right;
	width: 5%;
	padding-top: 2%;
}


/* ------------------------------------ */


footer div{
	display: inline-block;
	width: 20%;
	padding-top: 1%;
	text-align: center;
}


/* ------------------------------------ */

#ville_{

	display: flex;

}

#global{
	height: 100px;
	width: 100%;
	background-color: #232728;
	color: white;
}

#europe{
	padding-top: 170px;
	text-align: center;
	color: white;
}

#grey{
	background-color: grey;
	height: 400px;
	width: 100%;
}

#ticket{
	float: left;
	position: absolute;
	top: 1100px;
	left: 10%;
	background-color: black;
	height: 30%;
	width: 80%;
	color: white;
}

#map {
	width: 1520px;
	height: 880px;
}